a {
    color: teal;
  }
  
  .active a {
    color: #ffffff !important;
  }
  
  .active {
    background-color: #2c9b88 !important;
  }
  
  .material-icons {
    color: #2d6b5e;
  }
  
  .active .material-icons {
    color: #ffffff;
  }
  
  .row span {
    font-size: 12px;
    font-weight: bold;
  }
  
  .num {
    margin: 0 !important;
    color: #64b5f6;
    font-weight: bold;
    font-size: 16px;
  }